* {
	font-family: "PT Serif Caption", Sans-serif;
	color: #91FF00;
	text-shadow: 0 0 2px #91FF00;
}

html {
	min-height: 800px;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
}

#splash {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}

#splash h1 {
}

#splash .start {
}
